$cgo_orange:#f29001;
$cgo_orange_fader:#f7a349;

$cgo_seablue:#69c5cd;
$cgo_lighterblue:#47bcc7;

$cgo_grassGreen:#c6e6a6;
$cgo_deepGreen:#408000;
$cgo_fadeGreen:#6e9b41;
$cgo_faderGreen:#9cd365;
$cgo_textBlue:#5a5975;

//Graduate SideBar Link
$cgo_graduate_link_fadeGreen:#9cd365;
$cgo_graduate_link_fadeAlmond:#caa389;
$cgo_graduate_link_Orange:#ffac31;
$cgo_graduate_link_Pink:#ffa791;

$cgo_graduate_link_minor_Brown:#642719;
$cgo_graduate_link_minor_Orange:#ffac31;
$cgo_graduate_link_minor_fadeBrown:#705c57;
$cgo_graduate_link_minor_fadeAlmond:#eeb58f;


body{
   position: relative;
   @include MCW(861px) {
      &:after{
         content:'';
         height: 100px;
         display: inline-block;
         width: 100%;
      }
   }
}
.bread_crumb_block{
   @include bl;
   width: 100%;
   line-height: 28px;
   @include M1301() {
      padding: 0 15px;
   }
   .bread_crumb{
      @include fxfs;
      width: 100%;
      padding: 0;
      .bread_crumb_item{
         @include ibl;
         font-size: .9em;
         margin: 0;
         padding:  0 10px 0 0px;
         .home{
            @include ibl;
            padding: 0px 10px 0 0;
            font-size: 1em;
            color: rgb(63, 63, 63);
         }
         .arrow{
            @include ibl;
            padding: 0px 6px 0 4px;
            font-size: 12px;
         }
         &.bc_first{
         }
         &.bc_last{
            font-weight: 600;
         }
         a{
            transition: .1s ease-in-out;
            &:hover{
               opacity: .8;
            }
         }
      }
   }
}

.bread_crumb_block.type_graduate{
   .bread_crumb{
      margin: 5px 0;
      color:#fff;
      a,i{
         color:#fff;
      }
      .bread_crumb_item{
         &.bc_last{
            font-weight: unset;
         }

      }
   }
}

.area{
   @include ibl;
   width: 100%;
   overflow: hidden;
   &.type_nav{
      @include fxc;
      align-items: flex-start;
      position: relative;
      // margin-top:100px;
      width: 100%;
      height: 100%;
      z-index:999;
      overflow: visible;
      pointer-events: none;
      @include MCW(601px) {
         margin-top:-42px;
      }
   }
   &.type_cover{
      @include fxc;
      width: 100%;
      margin:-42px 0 42px;
      position: relative;
      z-index: 1;
      overflow: visible;
      @include MCW(1301px) {
         margin:10px 0 0px 0;
      }
   }
   &.type__video__zone {
      background-color: #408000;
      background-image: url('../../img/video_zone_img/background_video.jpg');
      background-size:  cover;
      background-position: left top;
      background-repeat: no-repeat;
      
   }
   .container{
      @include b;
      overflow: hidden;;
      margin:  0 auto;
      width: 100%;
      max-width: 1300px;
      padding: 10px 10px 50px;
      @include MCW(1301px) {
         width: 100%;
         // padding: 0px 0px 0px;
      }
      &.type__top__menu{
         @include MCW(1301px) {
            padding: 10px;
         }
      }
      &.type_nav{
         @include fxc;
         position: absolute;
         margin-top: -42px;
         align-items: flex-start;
         overflow: visible;;
         min-height: 400px;
         max-width: unset;
         padding: 0;
         height: 100%;

      }
      &.type_cover{
         @include fxb;
         width: 100%;
         max-width: 1300px;
         background-color:#fff;;
         box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
         border-radius: 4px;
         align-items: flex-start;
         padding: 10px 0px 50px;
         @include MCW(1301px){
            flex-direction: column;
            padding: 0px 0px 0px;
            box-shadow: 0 0 0 transparent;
         }
      }
      &.type__floater{
         @include fxc;
         padding: 20px;
         @include MCW(781px) {
            padding: 8px;
         }
      }
   }
}

.nav_mask {
   @include ibl;
   box-sizing: border-box;
   position: absolute;
   width: 100%;
   min-height: 100%;
   background-color: #00000083;
   opacity: .7;
   z-index: 11;
   top: -1px;
   cursor: pointer;
   display: none;;
   margin: 265px 0 -265px 0;
   @include MCW(1301px) {
      margin: 230px 0 -230px 0;
   }
   @include MCW(861px) {
      margin: 0px;
   }
}

#videoZone .el-container {
   @include clean;
   height: 100%;
   // overflow: hidden;
}

#videoZone {
   font-family: 'Century Gothic','Source Sans Pro' , 'Muli' ,'微軟正黑體','Arial', '新細明體';
   position: relative;
   //Top Menu
   .subject_block{
      @include fxfs;
      width:400px;
      float: left;
      padding: 0 15px;
      position: relative;
      z-index: 10;
      @include MCW(861px) {
         background-color: #3d7901;
         position: fixed;
         bottom: 0;
         width: 100%;
         z-index: 1000;
         padding: 0 0px;
         left: 0;
         right: 0;
      }
      @include MCW(601px) {
         padding: 0 0px;
      }
   }

   .video__search__block {
      @include fxc;
      flex-wrap: nowrap;
      float: left;
      width: 100%;
      height: 110px;
      max-width: calc(100% - 420px);
      // padding: 35px 0;

      @include MCW(1301px) {
         // padding: 35px 0;
      }
      @include MCW(860px) {
         max-width: 100%;
         height: 70px;
      }
      .search__inputer {
         @include ibl;
         border-top-left-radius: 5px;
         border-bottom-left-radius: 5px;
         width: 100%;
         max-width: 450px;
         padding: 10px 15px;
         font-size: 1.1em;
         &::placeholder{
            font-size: 1em;
         }
         @include MCW(801px) {
            margin: 8px 0;
         }
      }

      .search__submiter{
         @include fxc;
         flex-wrap: nowrap;
         border-top-right-radius: 5px;
         border-bottom-right-radius: 5px;
         float: left;
         width: auto;
         max-width: 120px;
         padding:0  16px  0 18px;
         height: 38px;
         background-color:#1F4101;
         cursor: pointer;
         font-size: .9em;
         color: #ffffff;
         i{
            font-size: 1em;
            padding: 0  6px 0 0 ;
         }
      }
      .search__submite__name{
         @include nowrap;
         @include MCW(801px) {
            display: none;;
         }
      }
   }

   .subject_container{
      @include fxfs;
      float: left;
      width:100%;
      max-width:360px;
      padding: 10px 0 18px;
      flex-wrap: nowrap;
      @include MCW(861px) {
         justify-content: center;
         margin:  0 auto;
         padding: 0px 0 6px;
         max-width:260px;
      }
      @include MCW(601px) {
         padding: 5px 0 ;
         overflow: visible;
      }
      .subject_item{
         @include fxc;
         width:100px;
         min-height: 90px;
         background-color:$cgo_fadeGreen;
         border-radius: 4px;
         margin: 0 10px 0;
         padding: 0;
         color:#fff;
         text-align: center;
         position: relative;

         @include tst;
         @include MCW(861px) {
            background-color:transparent;
            min-height: 80px;
            width: 70px;
            margin: 0 8px 0;
         }
         &.openable{
            &:after{
               content:'';
               @include arl;
               bottom: -2px;
               position: absolute;
               display: inline-block;
               border:solid #fff;
               width: 0;
               height:0px;
               border-width: 8px 6px 6px 6px;
               border-color:#fff transparent transparent transparent;
               @include MCW(861px){
                  border-width: 6px 6px 8px 6px;
                  border-color:transparent transparent #ffffff transparent;
                  top: 2px;
               }
            }
            &.unclickable{
               pointer-events: none;;
            }
         }
         &.closeable{
            background-color: $cgo_orange;
         }
         &.openable.active{
            &:after{
               bottom: 5px;
               border-width: 6px 6px 8px 6px;
               border-color:transparent transparent #fff  transparent;
            }
         }
         &.thispage{
            box-shadow: 8px 8px 8px #00000049;
            background:#f29001;
            &:after {
               content: '';
               @include arl;
               bottom: -30px;
               position: absolute;
               display: inline-block;
               border: solid #ffffff;
               width: 0;
               height: 0px;
               border-width: 10px 12px 16px 12px;
               border-color: transparent transparent #ffffff transparent;

               @include MCW(861px) {
                  display: none;;
               }
            }
            @include MCW(861px) {
               box-shadow: 0px 6px 12px;
               transform:translate(0px,-10px);
               background:#ffffff;
               color: #33333362;
               i {
                  color: #888888;
               }
            }
         }
         &:hover{
            background:$cgo_orange; 
         }
         i{
            @include ibl;
            font-size: 32px;
            width: 100%;
            padding:0px  10px 0;
            margin: 0;
            max-height: 0px;
            @include MCW(861px) {
               font-size: 28px;
            }
         }
         .name{
            @include ibl;
            width:100%;
            text-align: center;
            font-size:.9em;;
            margin: 0;
            max-height: 20px;
            font-weight: bold;
            line-height: 15px;;
         }
         .deco{
            @include ib;
            border-radius: 50px;
            position: relative;
            top: 0px ;
            margin:  0 0 0 3px;
            padding: 4px;
            // width: 8px;
            // height: 8px;
            background-color: #ff0000;
         }
      }
      &.type_mob{
         width:100%;
         max-width:unset;
         display: none;
         @include MCW(601px) {
            display: flex;
         }
         .subject_item{
            @include fxc;
            width:100px;
            min-height: 30px;
            background-color:#fff;
            color:$cgo_deepGreen;
            font-weight: bold;
            padding: 10px  4px;
            &:hover{
               opacity:.8;
            }
            i{
               @include ibl;
               font-size: 1em;
               width: 20px;
               max-height: unset;
               padding:0;
            }
            .name{
               @include ibl;
               width:calc(100% - 30px);
               text-align: center;
               font-size:1em;;
               margin: 0;
               max-height: 22px;
               letter-spacing: -1px;
            }
         }
      }
      &.type_fixed{
         @include fxfs;
         float: left;
         width:calc(100% - 450px);
         max-width:unset;
         @include MCW(601px) {
            display: none;
         }
      .subject_item{
         @include fxc;
         width:100px;
         min-height: 90px;
         background-color:#fff;
         color:$cgo_deepGreen;
         border-radius: 4px;
         margin: 0 10px 0;
         text-align: center;

         @include tst;
         &:hover{
            background:$cgo_orange_fader; 
         }
         .name{

         }
      }
      }
   }

   .subject_nav{
      @include fxc;
      align-items: flex-start;
      width: 100%;
      min-height: 100%;
      height: 100%;
      pointer-events: visible;
      position: relative;
      display: none;
      @include MCW(1301px){
         top:43px;
      }
      .subject_nav_container{
         @include fxc;
         align-items: flex-start;
         left:0;
         width: 100%;
         background-color:#fff;
         position:relative;
         @include MCW(861px) {
            position: fixed;
            bottom: 85px;
            overflow-y: scroll;;
            max-height: 330px;
         }
         .subject_list_box{
            @include ibl;
            align-items: flex-start;
            width: 100%;
            max-width: 460px;
            padding: 40px ;
            position: relative;
            min-height: 280px;
            @include MCW(1381px) {
               max-width: 155px;
               padding: 20px 5px 5px;
               min-height: unset;
            }
            > .title{
               @include ibl;
               width:100%;
               font-size: 1.2em;
               font-weight: bold;
               color:#666;
               @include MCW(1381px) {
                  font-size: 1em;
               }

            }
            > .list{
               @include ibl;
               width: 100%;
               list-style:none;
               margin:0;
               padding:10px 0 0 0 ;
               > .item{
                  @include ibl;
                  width:100%;
                  max-width:180px;
                  padding:4px  6px 4px 0;
                  font-size: .9em;
                  @include MCW(1381px) {
                     padding:1px 1px 1px 0;
                     .text{
                        font-size: .7em;
                     }
                  }
               }
               a{
                  @include hover;
               }
            }

            &::after{
               content: '';
               @include ibl;
               position: absolute;
               right: 2px;
               height: 100%;
               max-height: 200px;
               width: 1px;
               background-color: #cccccc;
            }
            &:nth-child(3)::after {
               display: none;
            }
            @include MCW(1381px) {
               &::after {
                  display: none;
               }
            }
            @include MCW(781px) {
               padding: 20px 5px;
            }
         }

         .close_btn{
            @include ibl;
            width:100%;
            background-color:$cgo_orange;
            max-width: 1150px;
            text-align: center;
            padding:8px;
            margin:20px 10px ;;
            color:#fff;;
            box-sizing: border-box;
            @include hover;
            user-select: none;
            // @include MCW(861px) {
            //    width: 90%;
            //    position: relative;
            //    bottom: 0px;
            //    margin:10px 0px;
            // }
         }

      }

   }

   .sorter__block{
      @include fxfe;
      width: 100%;
      padding: 4px 0;
      // font-weight: bold;
      color: #999999;
      font-size: 1.2em;
      
      .sorter__title{
         letter-spacing: 2px;
      }
      
      .sorter__name{
         letter-spacing: 2px;
         margin:  0 0 0 0;;
      }
      .sorter__box{
         @include fxb;
         align-items: center;
         color: #777777;
         width: auto;
         // max-width: 150px;
         margin: 0 0 0 20px;
      }
      .sorter{
         font-size: .9em;
         border: 0px solid transparent;;
         outline: none;
         margin: 8px 20px 10px 0;
         // padding:  0px 0 5px;
         @include fxc;
         option{
            
         }
      }
      .sorter__style{
         @include fxc;
         width: auto;
         
      }
      .sorter__style__ele{
         @include fxc;
         box-sizing: border-box;
         @include hover;
         width: 30px;
         height: 30px;
         padding:5px;
         margin:  0 5px ;
         border:1px solid #dddddd;
         &.sorter__style__active{
            color: $cgo_orange;
         }

      }
   }

   .imagine__block{
      @include fxc;
      width: auto;
      
      .imagine__box{
         @include fxc;
         @include hover;
         float: left;
         width: 100%;
         max-width:400px;
         padding: 20px ;
         @include MCW(861px) {
            padding: 8px;
            max-width:50%;
         }
         .imagine{
            @include fxc;
            width: 100%;
            max-width: 400px;
            height: 250px;
            max-height: 200px;
            overflow: hidden;
            background-position: center;
            background-size: 30%;
            background-repeat: no-repeat;
            background-image: url(../../img/video_zone_img/loading_ring.svg);
            @include MCW(861px){
               height: unset;
               max-height: unset;
            }
         }
         .block__title {
            font-size: 1.2em;
            font-weight: bold;
            margin: 10px 0 0 0;

            @include MCW(861px) {
               font-size: .9em;
            }
         }
         .info__box {
            @include fxfe;
            width: 100%;
            
         }
         .info__element {
            width: auto;
            padding: 3px 0 3px 20px;
            @include MCW(861px) {
               font-size: .8em;
            }
         }

         .info__viewed {
            i {
               color: #6c9911;
            }
         }

         .info__date {
            i {
               color: #6c9911;
            }
         }

      }
   }

   .more__btn {
      @include fxc;
      width: 100%;

      background-color: #eeeeee;
      border-radius: 5px;

      background-color: #ddd;
      text-align: center;
      padding: 8px;
      margin: 20px 0px;

      color: #999999;
      font-weight: bold;
      @include hover;
      user-select: none;

      i {
         padding: 0 0 0 10px;
      }

   }

   .program__block {
      @include fxc;
      width: auto;
      .program__box {
         @include fxfs;
         float: left;
         width: 100%;
         max-width: 310px;
         padding: 10px;
         @include MCW(861px) {
            padding: 8px;
            max-width: 50%;
         }
      }
      .imagine {
         @include fxc;
         width: 100%;
         max-width: 300px;
         height: 160px;
         max-height: 200px;
         overflow: hidden;
         background-position: center;
         background-size: 30%;
         background-repeat: no-repeat;
         background-image: url(../../img/video_zone_img/loading_ring.svg);
         @include hover;
         @include MCW(861px) {
            height: unset;
            max-height: unset;
         }
      }
      .program__tag__box{
         @include fxfs;
         float: left;
         width: 100%;
         margin: 3px 0;
      }
      .program__tag__ele {
         @include ibl;
         @include hover;
         width: auto;
         padding:  3px 6px;
         color: #ffffff;
         font-size: .8em;
         margin: 2px 5px 2px 0;
         &.type__orange{
            background-color: $cgo_orange;
         }
         &.type__blue {
            background-color: #6BA8DB;
         }
      }
      .program__title {
         @include fxfs;
         width: 100%;
         font-size: 1.2em;
         @include hover;
      }
      .program__date__box {
         @include fxfs;
         width: 100%;
      }
      .program__status__box {
         @include fxfe;
         width: 100%;
      }
      .program__status__ele {
         @include fxc;
         box-sizing: border-box;
         width: auto;
         border-radius: 4px;
         padding: 5px 14px;
         font-size: .9em;
         color: #888888;
         &.program__status__coming__soon {
            background-color: #eeeeee;
            color: #888888;
         }
         &.program__status__living__soon {
            border: 1px solid #bbbbbb;
            background-color: #ffffff;
            color: #e90c0c;
            font-weight: 500;
            position: relative;
            @include hover;
            &:after{
               content: '';
               @include ibr;
               position: relative;
               background-color: #e90c0c;
               padding: 3px;
               border-radius: 50px;
               margin: 3px;
            }
         }
         &.program__status__watching__now {
            border: 1px solid #bbbbbb;
            background-color: #ffffff;
            color: #1749a7;
            font-weight: 500;
            position: relative;
            @include hover;
            &:after {
               content: '';
               @include ibr;
               position: relative;
               width:0px;
               height:0px;
               margin:  0 0 0 5px;
               border-style: solid;
               border-color: transparent transparent transparent #1749a7;
               border-width: 6px 0 6px 6px;
               border-radius: 2px;
            }
         }


      }
      .more__btn {
         @include fxc;
         width: 100%;

         background-color: #eeeeee;
         border-radius: 5px;

         background-color: #ddd;
         text-align: center;
         padding: 8px;
         margin: 20px 10px;

         color: #999999;
         font-weight: bold;
         @include hover;
         user-select: none;

         i {
            padding: 0 0 0 10px;
         }

      }

      &.table__view {
         @include fxc;
         width: 100%;;
      }
      .program__table {
         border-collapse: 0;
         border-spacing: 0px;
         th{
            border-color: #eeeeee;
            background-color: #f8f8f8;
            color: #666666;
            text-align: left;
            @include MCW(980px) {
               &:nth-child(2){
                  white-space: nowrap;
               }
            }
         }
         td {
            border-color: #eeeeee;
            vertical-align: middle;
            padding: 10px;
            &:not(:first-child){
               // text-align: center;;
               color: #888888;
            }

         }
         th,td{
            @include MCW(980px) {
               &:nth-child(n + 3) {
                  display: none;
                  ;
               }
            }
         }
         .program__title__box{
            @include fxfs;
            width: 100%;
            @include hover;
         }
         .program__date {
            @include ibl;
            width: auto;
            font-size: 1.1em;
            @include MCW(768px) {
               font-size: .9em;
               width: 100%;
            }
         }
         .program__deco {
            @include ibl;
            width: auto;
            padding:0 4px ;
            font-size: 1.1em;
            @include MCW(768px) {
               display: none;
            }
         }
         .program__title {
            @include ibl;
            width: auto;
            font-size: 1.1em;
            @include MCW(768px) {
               font-size: .9em;
            }
         }
         .program__status__ele {
            @include fxfs;
            box-sizing: border-box;
            width: auto;
            border-radius: 4px;
            padding: 5px 0px;
            font-size: .9em;
            color: #888888;

            &.program__status__coming__soon {
               background-color: unset;
               color: #888888;
            }
            &.program__status__living__soon {
               border: 1px solid transparent;
               background-color: #ffffff;
               color: #e90c0c;
               font-weight: 500;
               position: relative;
               @include hover;
               &:after {
                  content: '';
                  @include ibr;
                  position: relative;
                  background-color: #e90c0c;
                  padding: 3px;
                  border-radius: 50px;
                  margin: 3px;
                  @include MCW(480px) {
                        display: none;
                  }
               }
            }
            &.program__status__watching__now {
               border: 1px solid transparent;
               background-color: #ffffff;
               color: #1749a7;
               font-weight: 500;
               position: relative;
               @include hover;
               &:after {
                  content: '';
                  @include ibr;
                  position: relative;
                  width: 0px;
                  height: 0px;
                  margin: 0 0 0 5px;
                  border-style: solid;
                  border-color: transparent transparent transparent #1749a7;
                  border-width: 6px 0 6px 6px;
                  border-radius: 2px;
                  @include MCW(768px) {
                     display: none;
                  }
               }
            }
         }
         .program__tag__box{
            display: none;;
         }
         @include MCW(980px){
            .program__tag__box{
               display: block;
            }
         }
      }



   }


   //影音專區頂部介紹區塊
   .top__intro__block{
      @include fxb;
      width: 100%;
      .top__intro__box {
         @include fxc;
         padding: 5px 0;
      }
      //影片專區公用列表
      .intro__list{
         width: 100%;
         max-width: 180px;
         @include MCW(1301px) {
            display: none;
         }
      }
      .intro__list__title {
         @include fxc;
         font-size: 1.4em;
         font-weight: 400;
         width: 100%;
         max-width: 120px;
         text-align: center;
         border-width: 0 0 1px 0;
         border-style: solid;
         border-color: #999999;
         padding: 0  15px 15px;
         margin: 0 0 10px 0;
      }
      .intro__list__item{
         @include fxc;
         width: 100%;
         max-width: 250px;
         padding: 8px 0;
         @include hover;
         user-select: none;
      }
      .intro__list__item__imagine{
         width: 100%;
         max-width: 60px;
      }
      .intro__list__item__name{
         width: 100%;
         max-width: 40px;
         font-size: 1.2em;
         padding:  0 0 0 10px;
      }

      //各種影片區塊
      .intro__videos{
         @include fxfs;
         box-sizing: border-box;
         padding:  0 0 0 15px;
         width: 100%;
         max-width: calc(100% - 180px);
         @include MCW(1301px) {
            max-width: 100%;
            justify-content: center;
         }
         @include MCW(1101px) {
            height: unset;
         }
      }

      //影片列表區塊
      .intro__video__box{
         width: 100%;
         max-width: 840px;
         height: 450px;
         // max-height: 450px;
         iframe, 
         video{
            width: 100%;
            height: 100%;
         }
         @include MCW(1101px) {
            max-width:unset;
            height: 53vw;
         }
      }
      .intro__video__list{
         @include fxfs;
         padding: 0  0 0 15px;
         width: 100%;
         max-width: calc(100% - 840px);
         @include MCW(1301px) {
         }
         @include MCW(1101px) {
            max-width: unset;
            padding: 8px 0 ;
            justify-content: space-between;
            flex-wrap: nowrap;
         }

      }
      .intro__video__list__item{
         @include fxc;
         width: 100%;;
         max-width:185px;
         height:105px;
         @include hover;
         &:not(:last-child){
            margin:  0 0 10px 0;;
         }
         @include MCW(1101px){
            &:not(:last-child) {
               margin: 0 8px 0 0;
            }
         }
      }

      //影片標題詳細資訊
      .intro__title{
         @include fxfe;
         width: 100%;
         @include MCW(1301px) {
            padding: 10px 0;
         }
      }
      .intro__title__box{
         @include ibl;
         max-width: calc(100% - 180px );
         width: 100%;
         padding: 0 0 0 15px;
         font-size: 1.3em;
         @include MCW(1301px) {
            max-width: 100%;
            padding: 0 0 0 5px;
         }
      }
      .intro__title__tag{
         @include ibl;
         width: 100%;;
         a {
            font-size: .9em;
            padding: 0 6px 0 0;
            color: #4289fc;
         }
      }
      .info__box {
         @include fxfs;
         width: 100%;
      }
      .info__element {
         width: auto;
         padding: 3px 20px 3px 0px;
         font-size: .8em;
         @include MCW(861px) {
            font-size: .8em;
         }
      }
      .info__viewed {
         i {
            color: #6c9911;
         }
      }
      .info__date {
         i {
            color: #6c9911;
         }
      }
   }

   //影片類型區塊
   .videotype__block{
      @include fxb;
      width: 100%;
      margin:  35px 0 18px 0;
      strong{
         color: $cgo_orange;
      }
      @include MCW(861px) {
         padding: 0 0 0 12px;
      }
      .videotype__title {
         padding: 0 0 0 96px;
         position: relative;
         font-size: 1.4em;
         letter-spacing: 6px;
         @include MCW(861px) {
            padding: 0 0 0 0;
            text-align: center;
         }
         &:before {
            width: 100px;
            height: 1px;
            left: -20px;
         }
         &:after {
            width: 1px;
            height: 30px;
            left: 80px;
         }
         &:before,
         &:after {
            content: '';
            @include ibl;
            position: absolute;
            @include atb;
            background-color: $cgo_orange;

            @include MCW(861px) {
               display: none;
            }
         }
      }
      .videotype__more {
         padding:  0 10px 0 0;
         font-size: .9em;
      }
      .videotype__more__btn{
         position: relative;
         padding: 4px 20px;
         border: 1px solid #999999;
         font-weight: 600;
         &:after{
            content: '';
            position: absolute;
            background-color: #999999;
            @include atb;
            width: 30px;
            height: 1px;
            right: -20px;
         }
      }
   }
   
   //影片月份區塊
   .videomonth__block {
      @include fxb;
      width: 100%;
      margin: 40px 0 20px 0;
      strong {
         color: $cgo_orange;
      }
      @include MCW(861px) {
         padding: 0 0 0 12px;
         justify-content: center;
      }
      .videomonth__title {
         padding: 0 0 0 96px;
         position: relative;
         font-size: 1.4em;
         letter-spacing: 6px;
         @include MCW(861px) {
            padding: 0 0 0 0;
            text-align: center;
         }
         &:before {
            width: 100px;
            height: 1px;
            left: -20px;
         }

         &:after {
            width: 1px;
            height: 30px;
            left: 80px;
         }

         &:before,
         &:after {
            content: '';
            @include ibl;
            position: absolute;
            @include atb;
            background-color: $cgo_orange;

            @include MCW(861px) {
               display: none;
            }
         }
      }
   }
   //直播倒數
   .live__counter__block{
      @include fxc;
      float: left;
      color: #ffffff;
      background-color: #d01212;
      width: 100%;
      margin: 20px 0 10px;
      padding: 20px 0;
      @include MCW(861px) {
         padding: 10px 0;
      }
      .live__counter__title {
         width: auto;
         position: relative;
         font-weight: 400;
         font-size: 1.3em;
         letter-spacing: 7px;;
         &:before,&:after{
            content:'';
            @include ib;
            @include atb;
            position: absolute;
            width: 25px;
            height: 1px;
            background-color: #ffffff;
         }
         &:before{
            left: -60px;
         }
         &:after {
            right: -60px;
         }
         @include MCW(861px) {
            letter-spacing: 3px;
            font-size: 1em;
         }
      }
      .live__counter__timer{
         @include fxc;
         width: 100%;
         padding: 8px 0 0;
      }
      .live__counter__date__box{
         @include fxc;
         align-items: flex-end;
         width: auto;
         padding:  0 10px 0;
      }
      .live__counter__date__num{
         font-size: 2.3em;
         font-family: 'Century Gothic';
         font-weight: 200;
         letter-spacing: 5px;
         color: #ffffffe1;
         @include MCW(1301px) {
            letter-spacing: 2px;
            font-size: 2em;
         }
         @include MCW(861px) {
            letter-spacing: 0px;
            font-size: 1em;
         }
      }
      .live__counter__date__text{
         font-size: .9em;
         padding: 0 15px 1px 15px;
      }
   }
   
   //直播列表 
   .live__top__block {
      @include fxb;
      width: 100%;
      align-items: flex-start;
      .live__top__box {
         @include fxc;
         padding: 5px 0;
      }

      //各種影片區塊
      .intro__videos {
         @include fxfs;
         align-items: flex-start;
         box-sizing: border-box;
         padding: 0 0 0 15px;
         height: auto;
         width: 100%;
         max-width: 930px;
         @include MCW(1301px) {
            max-width: 100%;
            justify-content: center;
         }

         @include MCW(1101px) {
            height: unset;
         }
      }

      //影片列表區塊
      .intro__video__box {
         width: 100%;
         max-width: 930px;
         @include MCW(1101px) {
            max-width: unset;
            height: 53vw;
         }
      }

      .intro__video__title__box{
         @include fxfs;
         width: 100%;
         padding:5px 0;
         height: 100%;
         max-height: 80px;
         overflow:hidden;
      }
      .intro__video__title__imagine{
         @include fxc;
         width: 50px;
         padding: 5px;
      }
      .intro__video__title__box__title{
         @include ibl;
         width: auto;
         padding:  0 0 0 15px;
         font-size: 1.3em;
         letter-spacing: 3px;
      }

      .intro__video__main {
         width: 100%;
         height: 535px;
         
         @include MCW(1101px) {
            max-width: unset;
            height: 53vw;
         }
         iframe,
         video {
            width: 100%;
            height: 100%;
         }
      }

      .intro__form__list {
         @include fxc;
         padding: 0 0 0 15px;
         width: 100%;
         max-width: calc(100% - 930px);
         @include MCW(1301px) {
            max-width: unset;
            padding: 8px 0;
            justify-content: space-between;
         }
      }
      .intro__form__list__title__box {
         @include fxc;
         height: 100%;
         min-height: 60px;
         @include MCW(1301px) {
            width: 100%;
         }
      }
      .intro__form__list__title__box__title{
         @include fxc;
         color: #ff5a02;
         font-size: 1.6em;
         letter-spacing: 14px;
      }
      .intro__form__list__sub {
         @include MCW(1301px) {
            width: 100%;
            text-align: center;
         }
      }
      .intro__form__inputer{
         @include fxc;
         width: 100%;
         padding: 12px;
         @include MCW(1301px) {
            max-width:25%;
            padding: 5px;
            .inputer {
               padding: 10px 0;
            }
         }
         @include MCW(861px) {
            max-width: 50%;
            .inputer {
               padding: 5px 0;
            }
         }
         @include MCW(481px) {
            max-width: unset;
            padding: 2px 5px;
            .inputer {
               padding: 2px 0;
            }
         }
         .inputer{
            font-size:1em;
            width: 100%;
            padding: 20px 0;
            border-width: 0 0 1px 0;
            &:focus{
               box-shadow: unset;;
            }
            @include MCW(1301px) {
               padding: 10px 0;
            }
            @include MCW(861px) {
               padding: 5px 0;
            }
            @include MCW(481px) {
               padding: 2px 0;
            }
         }
         .selecter{
            font-size:1.1em;
            color: #999999;
            width: 100%;
            height: 60px;
            border-width: 0 0 1px 0;
            margin: 0;
            outline: none;;
            @include MCW(1301px) {
               height: 38px;
            }

            @include MCW(861px) {
               height: unset;
               padding: 0px 0;
            }

            @include MCW(481px) {
               height: unset;
            }
         }
      }
      .intro__form__checker{
         @include fxfs;
         padding: 40px 20px;
         align-items: flex-start;
         width: 100%;
         @include MCW(1301px) {
            padding: 10px 0 10px 5px;
         }
         .checkmark{
            margin:3px  6px 0 0;
         }
         .text{
            width: calc(100% - 30px);
            font-size: .9em;
            @include MCW(1301px) {
               font-size: .8em;
            }
         }
         a{
            text-decoration: underline;
         }
      }
      .intro__form__list__item {
         @include fxc;
         width: 100%;
         max-width: 185px;
         height: 105px;
         @include hover;
         &:not(:last-child) {
            margin: 0 0 10px 0;
            ;
         }
         @include MCW(1101px) {
            &:not(:last-child) {
               margin: 0 8px 0 0;
            }
         }
      }

      //影片標題詳細資訊
      .intro__title {
         @include fxfs;
         width: 100%;
         padding: 10px 0;
         width: 100%;
         max-width: 945px;
      }

      .intro__title__box {
         @include ibl;
         width: 100%;
         padding: 10px 0 10px 15px;
         font-size: 1.3em;
         @include MCW(1301px) {
            max-width: 100%;
            padding: 0 0 0 5px;
         }
      }
      .intro__title__text{
         max-height: 54px;
         width: 100%;
         @include multi_nowrap();
      }
      .intro__title__tag {
         @include ibl;
         width: 100%;
         a {
            font-size: .9em;
            padding: 0 6px 0 0;
            color: #4289fc;
         }
      }

      .info__box {
         @include fxb;
         width: 100%;
      }

      .info__box__item{
         @include fxb;
      }

      .info__element {
         width: auto;
         margin: 3px 14px 3px 0px;
         font-size: .8em;
         
         @include MCW(861px) {
            font-size: .8em;
         }
      }

      .info__viewed {
         i {
            color: #6c9911;
         }
      }

      .info__date {
         i {
            color: #6c9911;
         }
      }

      .info__line{
         padding: 3px 8px;
         border: 1px solid #6c9911;
         color: #6c9911;
         @include hover;
         iframe{
            display: nnoe!important;
            padding: 3px 8px;
            border: 1px solid #6c9911;
            color: #6c9911;

         }
      }

      .info__contect{
         @include hover;
         margin: 0 0 0 6px;
         padding: 3px 8px;
         border: 1px solid #4289fc;
         color: #4289fc;
      }
   }

   //直撥影片區塊
   .live__imagine__block {
      @include fxc;
      width: auto;
      margin: 20px 0 10px;
      .live__imagine__box {
         @include fxc;
         float: left;
         width: 100%;
         max-width: 400px;
         padding: 20px;
         @include MCW(861px) {
            padding: 8px;
            // max-width: 50%;
         }
         .imagine {
            @include fxc;
            width: 100%;
            max-width: 400px;
            height: 250px;
            max-height: 200px;
            overflow: hidden;
            background-position: center;
            background-size: 30%;
            background-repeat: no-repeat;
            background-image: url(../../img/video_zone_img/loading_ring.svg);

            @include MCW(861px) {
               height: unset;
               max-height: unset;
            }
         }

         .block__title {
            width: 100%;
            font-size: 1.2em;
            font-weight: bold;
            margin: 10px 0 0 0;
            @include multi_nowrap;
            max-height: 54px;
            @include MCW(861px) {
               font-size: .9em;
            }
         }

         .info__box {
            @include fxb;
            width: 100%;
            padding: 6px 0;
         }
         .info__box__item{
            max-width: 300px;
         }
         .info__live__tag {
            @include fxc;
            width: 100%;
            max-width: 60px;
            padding: 1px 5px;
            border-radius: 3px;
            letter-spacing: 3pxs;
            background-color: #c4c4c4;
            color: #ffffff;
            &::before {
               content: '';
               @include fxc;
               position: relative;
               padding: 3px;
               border-radius: 50px;
               background-color: #ffffff;
               margin: 2px 8px 2px 0px;
            }
            &.info__live__tag--active {
               background-color: #ff0001;
               &::before {
                  background-color: #35ee2f;
               }
            }
         }
         .info__element__box{
            @include fxfe;
            width: 100%;
            max-width: 280px;
         }
         .info__element {
            font-size: .9em;
            width: auto;
            padding: 3px 0 3px 20px;
            @include MCW(861px) {
               font-size: .8em;
            }
         }

         .info__viewed {
            i {
               color: #6c9911;
            }
         }

         .info__date {
            i {
               color: #6c9911;
            }
         }
         .program__tag__box {
            @include fxfs;
            float: left;
            width: 100%;
            margin: 3px 0;
            padding: 12px 0 ;
            border-width: 0 0 1px 0;
            border-style: solid;
            border: color#aaaaaa;
         }
         .program__tag__ele {
            @include ibl;
            @include hover;
            width: auto;
            padding: 3px 6px;
            color: #ffffff;
            font-size: .8em;
            margin: 2px 5px 2px 0;

            &.type__orange {
               background-color: $cgo_orange;
            }

            &.type__blue {
               background-color: #6BA8DB;
            }
         }
      }


   }

   //直播區域標籤
   .live__tab__block{
      @include fxfs;
      box-sizing: border-box;
      width: 100%;
      padding: 0 40px ;
      margin: 15px 0 5px;
      @include MCW(1301px) {
         justify-content: center;
         padding: 0 0px;
      }
      .live__tab__item{
         @include fxc;
         box-shadow: border-box;;
         width: 100%;
         max-width: 100px;
         padding: 10px;
         text-align: center;
         letter-spacing: 4px;
         margin:  0 15px 0;
         user-select: none;
         @include hover;
         cursor: pointer;
         border-width: 0 0 5px 0;
         border-style: solid;
         border-color: transparent;
         @include MCW(1301px) {
            max-width: 40%;
         }
         &.live__tab__item--active{
            font-weight: bold;
            border-color: $cgo_orange;
         }
      }

   }

   //直播區選項卡
   .live__content__block {
      min-height: 100px;
      @include fxc;
      float: left;
      width: 100%;
   }




}



ul{
   list-style-type: none;
   padding:0;
   margin:0;
}

.hr{
   @include ibl;
   line-height: 10px;
   width: 100%;
   border-width: 0 0 1px 0;
   border-color: #ccc;
}

.lazy{
   @include bg-loading;
   background-color: #fff;
   background-image: url("../img/video_zone_img/loading_ring.svg");
   min-height: 100%;
}

.lazied{
   max-height: unset;
   background-image: unset;
}

img{
   display: block;
   max-width: 100%;
   height: auto;
   width: auto;
   margin: 0 auto;
}

.img_box{
   text-align: center;
      img{
         max-width: 100%;
         max-height: 100%;
      }
   &.type_teacher_avatar{
      img{
         width: 100%;
      }
      .dp_mob_1{
         display: none;
      }
      .dp_mob_2{
         display: none;
      }
      @include MCW(1000px){
         .dp_tab{
            display: none;
         }
         .dp_mob_1{
            display: block;
         }
         .dp_mob_2{
            display: none;
         }
      }
      @include MCW(768px){
         .dp_tab{
            display: none;
         }
         .dp_mob_1{
            display: block;
         }
         .dp_mob_2{
            display: none;
         }
      }
      @include MCW(521px){
         .dp_tab{
            display: none;
         }
         .dp_mob_1{
            display: none;
         }
         .dp_mob_2{
            display: block;
         }
      }
   }
}

// oldStyles
.rev_img {
    display: block;
    width: 100%;
    float: none;
    margin-bottom: 10px;
    text-align: center;
   img {
      display: block;
      float: none;
      max-width: 100%;
      height: auto;
      width: auto;
      margin: 0 auto;
   }
}

.marginer{
   @include ibl;
   width:100%;
   margin:-80px 0 80px 0; 
}

.checker {
   @include fxfs;
   align-items: center;
   position: relative;
   width: 100%;
   font-size: 16px;
   cursor: pointer;
   user-select: none;
   background-color: transparent;
   overflow: hidden;
   cursor: pointer;
   @include tst;
   &:hover{
      opacity: .8;
   }
   .text {
      width: auto;
      position: relative;
      z-index: 1;
      font-size: .9em;
      line-height: 24px;

      @include MCW(500px) {
         width: calc(100% - 30px);
      }
   }

   input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked {
         &~.checkmark {
            background-color: #f19100;
            border-color: transparent;
            ;
            @include tst;
         }

         &~.checkmark:after {
            display: block;
         }
      }
   }

   .checkmark {
      @include fxc;
      position: relative;
      height: 18px;
      width: 19px;
      margin: 0 6px 0 0;
      border-width: 1px;
      border-color: rgb(187, 187, 187);
      ;
      border-style: solid;

      &:after {
         font-family: FontAwesome;
         content: "";
         position: absolute;
         display: none;
         @include arl;
         top: 0px;
         width: 4px;
         height: 10px;
         border: solid white;
         border-width: 0 3px 3px 0;
         transform: rotate(45deg);
      }
   }

   &.type_box {
      @include ib;
      width: auto;
      padding: 6px 13px;
      margin: 7px 18px 7px 0;
      background-color: #ddd;
      border-radius: 3px;

      input {
         &:checked {
            &~.checkbg {
               background-color: #f19100;
               @include tst;
            }

            &~.text {
               color: #fff;
               padding: 0 0px 0 10px;
            }

            &~.checkmark:after {
               display: block;
            }
         }
      }

      .text {
         padding: 0 10px;
      }

      .checkbg {
         @include ibl;
         position: absolute;
         @include aa;
         height: 100%;
         width: 100%;
      }

      .checkmark {
         @include aa;
         position: relative;
         height: 100%;
         width: 100%;
         border: 0px solid transparent;

         &:after {
            @include atb;
            content: '\f00c';
            position: relative;

            float: left;
            display: none;
            color: #fff;
            font-size: 16px;

            top: 1px;
            width: 10px;
            height: 14px;

            padding: 2px 0;

            border: 0 solid transparent;
            transform: rotate(0deg);
         }
      }
   }
}

.selecter {
   @include ibl;
   font-family: FontAwesome;
   margin: 10px 20px 10px 0;
   padding: 6px;
   border: 1px solid #aaa;

   min-height: 32px;
   letter-spacing: 2px;
   color: #333;
   background-color: #fff;
}

.inputer {
   @include PlaceHolder-Style(rgb(145, 145, 145), .9);
   @include tst;
   @include ib;
   text-decoration: none;
   max-width: 100%;
   padding: 8px 15px;
   border-width: 1px;
   border-style: solid;
   border-color: #888;
   outline: none;
   font-size: .9em;
   letter-spacing:.5px;
   @include MCW(801px) {
      margin: 8px auto;
   }

   &:focus {
      border-color: $cgo_orange;
      box-shadow: 0px 0px 10px #f29001;
   }
}

.type_button {
   @include ibl;
   background-color: $cgo_orange;
   border-radius: 5px;
   padding: 14px 40px;
   box-shadow: 3px 3px 8px #ccc;
   text-align: center;
   letter-spacing: 2px;
   color: #fff;
   ;
   transition: .1s ease-in-out;

   &:hover {
      opacity: .9;
   }

   &:active {
      opacity: 1;
      transform: translate(3px, 3px);
      box-shadow: 1px 1px 2px #777;
   }

   &.style_gray {
      box-shadow: 0px 0px 0px transparent;
      background-color: #ccc;
      color: #444;
      ;
   }
}


.ver3{
   background-color: transparent;
}