@charset "UTF-8";
@import url(https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.bread_crumb_block .bread_crumb, .area.type_nav, .area.type_cover, .area .container.type_nav, .area .container.type_cover, .area .container.type__floater, #videoZone .subject_block, #videoZone .video__search__block, #videoZone .video__search__block .search__submiter, #videoZone .subject_conainer, #videoZone .subject_conainer .subject_item, #videoZone .subject_conainer.type_mob .subject_item, #videoZone .subject_conainer.type_fixed, #videoZone .subject_conainer.type_fixed .subject_item, #videoZone .subject_nav, #videoZone .subject_nav .subject_nav_container, #videoZone .sorter__block, #videoZone .sorter__block .soter__box, #videoZone .sorter__block .sorter, #videoZone .imagine__block, #videoZone .imagine__block .imagine__box, #videoZone .imagine__block .imagine__box .imagine, #videoZone .imagine__block .imagine__box .info__box, #videoZone .imagine__block .more__btn, #videoZone .side_info_block, #videoZone .side_info_block > .info_container, #videoZone .side_info_block > .info_container > .news, #videoZone .side_info_block > .info_container > .news > .list, #videoZone .side_info_block > .info_container > .news > .list > .item, #videoZone .side_info_block > .info_container > .news > .list > .item a, #videoZone .side_info_block > .info_container > .services, #videoZone .side_info_block > .info_container > .services > .list, #videoZone .side_info_block > .info_container > .services > .list > .item, #videoZone .side_info_block > .info_container > .services > .list > .item a, #videoZone .side_info_block > .info_container > .services > .list > .item .icon, #videoZone .side_info_block > .info_container > .services > .list > .item .title_box, #videoZone .side_info_block > .info_container > .services > .list > .item .arrow, #videoZone .side_info_block > .info_container > .links > .list > .item a, #videoZone .main_content_block, #videoZone .main_content_block .title_block, #videoZone .recommend_pager_block, #videoZone .recommend_pager_block .pager, #videoZone .recommend_pager_block .pager.type_pagination, #videoZone .recommend_pager_block .pager.type_pagination > .item > a, #videoZone .recommend_article_block, #videoZone .pager_block, #videoZone .more_block, .checker, .checker .checkmark {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#videoZone .el-container::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.img_box img {
  max-width: 100%;
  max-height: 100%;
}

.bread_crumb_block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  float: left;
  width: 100%;
  line-height: 28px;
}

@media all and (max-width: 1301px) {
  .bread_crumb_block {
    padding: 0 15px;
  }
}

.bread_crumb_block .bread_crumb {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 0;
}

.bread_crumb_block .bread_crumb .bread_crumb_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: .9em;
  margin: 0;
  padding: 0 10px 0 0px;
}

.bread_crumb_block .bread_crumb .bread_crumb_item .home {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0px 10px 0 0;
  font-size: 1em;
  color: #3f3f3f;
}

.bread_crumb_block .bread_crumb .bread_crumb_item .arrow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0px 6px 0 4px;
  font-size: 12px;
}

.bread_crumb_block .bread_crumb .bread_crumb_item.bc_last {
  font-weight: 600;
}

.bread_crumb_block .bread_crumb .bread_crumb_item a {
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.bread_crumb_block .bread_crumb .bread_crumb_item a:hover {
  opacity: .8;
}

.bread_crumb_block.type_graduate .bread_crumb {
  margin: 5px 0;
  color: #fff;
}

.bread_crumb_block.type_graduate .bread_crumb a, .bread_crumb_block.type_graduate .bread_crumb i {
  color: #fff;
}

.bread_crumb_block.type_graduate .bread_crumb .bread_crumb_item.bc_last {
  font-weight: unset;
}

.area {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  overflow: hidden;
}

.area.type_nav {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: visible;
  pointer-events: none;
}

@media all and (max-width: 601px) {
  .area.type_nav {
    margin-top: -42px;
  }
}

.area.type_cover {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: -42px 0 42px;
  position: relative;
  z-index: 1;
  overflow: visible;
}

.area.type__video__zone {
  background-color: #408000;
}

.area .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1300px;
  padding: 10px 10px 50px;
}

@media all and (max-width: 1301px) {
  .area .container {
    width: 100%;
  }
}

.area .container.type_nav {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  margin-top: -42px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: visible;
  min-height: 400px;
  max-width: unset;
  padding: 0;
  height: 100%;
}

.area .container.type_cover {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 70px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 0px 50px;
}

@media all and (max-width: 1301px) {
  .area .container.type_cover {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0px 10px 0px;
  }
}

.area .container.type__floater {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

@media all and (max-width: 781px) {
  .area .container.type__floater {
    padding: 8px;
  }
}

#videoZone .el-container {
  height: 100%;
  position: relative;
}

#videoZone {
  font-family: 'Century Gothic','Source Sans Pro' , 'Muli' ,'微軟正黑體','Arial', '新細明體';
}

#videoZone .subject_block {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 400px;
  float: left;
  padding: 0 15px;
}

@media all and (max-width: 861px) {
  #videoZone .subject_block {
    display: none;
  }
}

@media all and (max-width: 601px) {
  #videoZone .subject_block {
    padding: 0 0px;
  }
}

#videoZone .video__search__block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  float: left;
  width: 100%;
  height: 110px;
  max-width: calc(100% - 420px);
}

@media all and (max-width: 860px) {
  #videoZone .video__search__block {
    max-width: 100%;
  }
}

#videoZone .video__search__block .search__inputer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;
  max-width: 300px;
}

#videoZone .video__search__block .search__inputer::-webkit-input-placeholder {
  font-size: 1em;
}

#videoZone .video__search__block .search__inputer::-moz-placeholder {
  font-size: 1em;
}

#videoZone .video__search__block .search__inputer:-ms-input-placeholder {
  font-size: 1em;
}

#videoZone .video__search__block .search__inputer::-ms-input-placeholder {
  font-size: 1em;
}

#videoZone .video__search__block .search__inputer::placeholder {
  font-size: 1em;
}

@media all and (max-width: 801px) {
  #videoZone .video__search__block .search__inputer {
    margin: 8px 0;
  }
}

#videoZone .video__search__block .search__submiter {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  float: left;
  width: auto;
  max-width: 120px;
  padding: 0  16px  0 18px;
  height: 35px;
  background-color: #1F4101;
  cursor: pointer;
  font-size: .9em;
  color: #ffffff;
}

#videoZone .video__search__block .search__submiter i {
  font-size: 1em;
  padding: 0  6px 0 0;
}

@media all and (max-width: 801px) {
  #videoZone .video__search__block .search__submite__name {
    display: none;
  }
}

#videoZone .subject_conainer {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
  width: 100%;
  max-width: 360px;
  padding: 10px 0 18px;
  overflow: hidden;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}

@media all and (max-width: 601px) {
  #videoZone .subject_conainer {
    padding: 5px 0;
    overflow: visible;
  }
}

#videoZone .subject_conainer .subject_item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  min-height: 90px;
  background-color: #6e9b41;
  border-radius: 4px;
  margin: 0 10px 0;
  padding: 0;
  color: #fff;
  text-align: center;
  position: relative;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#videoZone .subject_conainer .subject_item.openable:after {
  content: '';
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  bottom: -2px;
  position: absolute;
  display: inline-block;
  border: solid #fff;
  width: 0;
  height: 0px;
  border-width: 8px 6px 6px 6px;
  border-color: #fff transparent transparent transparent;
}

#videoZone .subject_conainer .subject_item.openable.unclickable {
  pointer-events: none;
}

#videoZone .subject_conainer .subject_item.openable.active:after {
  bottom: 5px;
  border-width: 6px 6px 8px 6px;
  border-color: transparent transparent #fff  transparent;
}

#videoZone .subject_conainer .subject_item.thispage {
  -webkit-box-shadow: 8px 8px 8px rgba(36, 36, 36, 0.384);
          box-shadow: 8px 8px 8px rgba(36, 36, 36, 0.384);
  background: #f29001;
}

#videoZone .subject_conainer .subject_item:hover {
  background: #f7a349;
}

#videoZone .subject_conainer .subject_item i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 32px;
  width: 100%;
  padding: 0px  10px 0;
  margin: 0;
  max-height: 0px;
}

#videoZone .subject_conainer .subject_item .name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  text-align: center;
  font-size: .9em;
  margin: 0;
  max-height: 20px;
  font-weight: bold;
  line-height: 15px;
}

#videoZone .subject_conainer .subject_item .deco {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border-radius: 50px;
  position: relative;
  top: 0px;
  margin: 0 0 0 3px;
  padding: 4px;
  background-color: #ff0000;
}

#videoZone .subject_conainer.type_mob {
  width: 100%;
  max-width: unset;
  display: none;
}

@media all and (max-width: 601px) {
  #videoZone .subject_conainer.type_mob {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

#videoZone .subject_conainer.type_mob .subject_item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  min-height: 30px;
  background-color: #fff;
  color: #408000;
  font-weight: bold;
  padding: 10px  4px;
}

#videoZone .subject_conainer.type_mob .subject_item:hover {
  opacity: .8;
}

#videoZone .subject_conainer.type_mob .subject_item i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 1em;
  width: 20px;
  max-height: unset;
  padding: 0;
}

#videoZone .subject_conainer.type_mob .subject_item .name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: calc(100% - 30px);
  text-align: center;
  font-size: 1em;
  margin: 0;
  max-height: 22px;
  letter-spacing: -1px;
}

#videoZone .subject_conainer.type_fixed {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  float: left;
  width: calc(100% - 450px);
  max-width: unset;
}

@media all and (max-width: 601px) {
  #videoZone .subject_conainer.type_fixed {
    display: none;
  }
}

#videoZone .subject_conainer.type_fixed .subject_item {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  min-height: 90px;
  background-color: #fff;
  color: #408000;
  border-radius: 4px;
  margin: 0 10px 0;
  text-align: center;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

#videoZone .subject_conainer.type_fixed .subject_item:hover {
  background: #f7a349;
}

#videoZone .subject_nav {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-height: 100%;
  height: 100%;
  pointer-events: visible;
  position: relative;
  display: none;
}

#videoZone .subject_nav .subject_nav_container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 0;
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#videoZone .subject_nav .subject_nav_container .subject_list_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 460px;
  padding: 40px;
  position: relative;
  min-height: 280px;
}

@media all and (max-width: 1301px) {
  #videoZone .subject_nav .subject_nav_container .subject_list_box {
    max-width: 160px;
    padding: 20px 5px 5px;
    min-height: unset;
  }
}

#videoZone .subject_nav .subject_nav_container .subject_list_box > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: #666;
}

@media all and (max-width: 1301px) {
  #videoZone .subject_nav .subject_nav_container .subject_list_box > .title {
    font-size: 1em;
  }
}

#videoZone .subject_nav .subject_nav_container .subject_list_box > .list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0;
}

#videoZone .subject_nav .subject_nav_container .subject_list_box > .list > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  max-width: 180px;
  padding: 4px  6px 4px 0;
  font-size: .9em;
}

@media all and (max-width: 1301px) {
  #videoZone .subject_nav .subject_nav_container .subject_list_box > .list > .item {
    padding: 1px 1px 1px 0;
  }
  #videoZone .subject_nav .subject_nav_container .subject_list_box > .list > .item .text {
    font-size: .7em;
  }
}

#videoZone .subject_nav .subject_nav_container .subject_list_box > .list a {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#videoZone .subject_nav .subject_nav_container .subject_list_box > .list a:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#videoZone .subject_nav .subject_nav_container .subject_list_box::after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  right: 2px;
  height: 100%;
  max-height: 200px;
  width: 1px;
  background-color: #cccccc;
}

#videoZone .subject_nav .subject_nav_container .subject_list_box:nth-child(3)::after {
  display: none;
}

@media all and (max-width: 1380px) {
  #videoZone .subject_nav .subject_nav_container .subject_list_box::after {
    display: none;
  }
}

@media all and (max-width: 781px) {
  #videoZone .subject_nav .subject_nav_container .subject_list_box {
    padding: 20 5px;
  }
}

#videoZone .subject_nav .subject_nav_container .close_btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  background-color: #ddd;
  max-width: 1150px;
  text-align: center;
  padding: 8px;
  margin: 20px 10px;
  color: #fff;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#videoZone .subject_nav .subject_nav_container .close_btn:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#videoZone .subject_nav .nav_mask {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  min-height: calc(100vh + 60px);
  background-color: #000;
  opacity: .7;
  z-index: 0;
  top: 0px;
  cursor: pointer;
}

#videoZone .sorter__block {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  padding: 4px 0;
  color: #999999;
  font-size: 1.2em;
}

#videoZone .sorter__block .sorter__title {
  letter-spacing: 2px;
}

#videoZone .sorter__block .sorter__name {
  letter-spacing: 2px;
  margin: 0 0 0 0;
}

#videoZone .sorter__block .soter__box {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777777;
  width: auto;
  margin: 0 0 0 20px;
}

#videoZone .sorter__block .sorter {
  font-size: .9em;
  border: 0px solid transparent;
  outline: none;
  margin: 6px 20px 10px 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#videoZone .imagine__block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: auto;
}

#videoZone .imagine__block .imagine__box {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  float: left;
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

#videoZone .imagine__block .imagine__box:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

@media all and (max-width: 861px) {
  #videoZone .imagine__block .imagine__box {
    padding: 8px;
    max-width: 50%;
  }
}

#videoZone .imagine__block .imagine__box .imagine {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 400px;
  height: 250px;
  max-height: 200px;
  overflow: hidden;
  background-position: center;
  background-size: 30%;
  background-repeat: no-repeat;
  background-image: url(../../img/video_zone_img/loading_ring.svg);
}

@media all and (max-width: 861px) {
  #videoZone .imagine__block .imagine__box .imagine {
    height: unset;
    max-height: unset;
  }
}

#videoZone .imagine__block .imagine__box .block__title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px 0 0 0;
}

@media all and (max-width: 861px) {
  #videoZone .imagine__block .imagine__box .block__title {
    font-size: .9em;
  }
}

#videoZone .imagine__block .imagine__box .info__box {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

#videoZone .imagine__block .imagine__box .info__element {
  width: auto;
  padding: 3px 0 3px 20px;
}

@media all and (max-width: 861px) {
  #videoZone .imagine__block .imagine__box .info__element {
    font-size: .8em;
  }
}

#videoZone .imagine__block .imagine__box .info__viewed i {
  color: #6c9911;
}

#videoZone .imagine__block .imagine__box .info__date i {
  color: #6c9911;
}

#videoZone .imagine__block .more__btn {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #eeeeee;
  border-radius: 5px;
  background-color: #ddd;
  text-align: center;
  padding: 8px;
  margin: 20px 10px;
  color: #999999;
  font-weight: bold;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#videoZone .imagine__block .more__btn:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#videoZone .imagine__block .more__btn i {
  padding: 0 0 0 10px;
}

#videoZone .side_info_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 280px;
  border: solid #ddd;
  border-width: 0 1px 0 0;
}

@media all and (max-width: 1301px) {
  #videoZone .side_info_block {
    max-width: unset;
  }
}

#videoZone .side_info_block > .info_container {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#videoZone .side_info_block > .info_container > .news {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#videoZone .side_info_block > .info_container > .news > .list {
  list-style: none;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  min-height: 160px;
  margin: 0;
  padding: 0;
}

#videoZone .side_info_block > .info_container > .news > .list > .item {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  position: relative;
}

#videoZone .side_info_block > .info_container > .news > .list > .item a {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  padding: 0 0 0 25px;
}

#videoZone .side_info_block > .info_container > .news > .list > .item a:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#videoZone .side_info_block > .info_container > .news > .list > .item:not(:last-child)::after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  background-color: #ddd;
  width: 90%;
  height: 1px;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  bottom: -15px;
}

#videoZone .side_info_block > .info_container > .news > .list > .item .num {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 1px 6px;
  background-color: #9cd365;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}

#videoZone .side_info_block > .info_container > .services {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#videoZone .side_info_block > .info_container > .services > .list {
  list-style: none;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  min-height: 160px;
  margin: 0;
  padding: 0;
}

#videoZone .side_info_block > .info_container > .services > .list > .item {
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  position: relative;
}

#videoZone .side_info_block > .info_container > .services > .list > .item a {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #888;
  padding: 10px 34px;
  -webkit-box-shadow: 0px 3px 10px #eee;
          box-shadow: 0px 3px 10px #eee;
  margin: 6px 0;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.089);
          box-shadow: 5px 5px 10px rgba(27, 27, 27, 0.089);
  transition: 0.2s all ease-out;
}

#videoZone .side_info_block > .info_container > .services > .list > .item a:hover {
  -webkit-transform: translate(5px, 5px);
      -ms-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  -webkit-box-shadow: 5px 5px 4px rgba(27, 27, 27, 0.199);
          box-shadow: 5px 5px 4px rgba(27, 27, 27, 0.199);
}

#videoZone .side_info_block > .info_container > .services > .list > .item:nth-child(1) .icon {
  background-color: #9cd365;
}

#videoZone .side_info_block > .info_container > .services > .list > .item:nth-child(2) .icon {
  background-color: #caa389;
}

#videoZone .side_info_block > .info_container > .services > .list > .item:nth-child(3) .icon {
  background-color: #ffac31;
}

#videoZone .side_info_block > .info_container > .services > .list > .item:nth-child(4) .icon {
  background-color: #ffa791;
}

#videoZone .side_info_block > .info_container > .services > .list > .item .icon {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  background-color: #9cd365;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}

#videoZone .side_info_block > .info_container > .services > .list > .item .icon i {
  color: #fff;
  font-size: 13px;
}

#videoZone .side_info_block > .info_container > .services > .list > .item .title_box {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 85px;
  text-align: left;
  overflow: hidden;
}

#videoZone .side_info_block > .info_container > .services > .list > .item .title_box > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  letter-spacing: 0;
}

#videoZone .side_info_block > .info_container > .services > .list > .item .title_box > .title {
  color: #5a5975;
  font-size: 1em;
}

#videoZone .side_info_block > .info_container > .services > .list > .item .title_box > .subtitle {
  font-size: 13px;
  color: #ccc;
}

#videoZone .side_info_block > .info_container > .services > .list > .item .arrow {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px;
  background: #eee;
  border-radius: 50px;
  width: 21px;
  height: 21px;
}

#videoZone .side_info_block > .info_container > .services > .list > .item .arrow i {
  font-size: 12px;
}

#videoZone .side_info_block > .info_container > .links > .list > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  position: relative;
}

#videoZone .side_info_block > .info_container > .links > .list > .item:nth-child(1) .icon {
  color: #642719;
}

#videoZone .side_info_block > .info_container > .links > .list > .item:nth-child(2) .icon {
  color: #ffac31;
}

#videoZone .side_info_block > .info_container > .links > .list > .item:nth-child(3) .icon {
  color: #705c57;
}

#videoZone .side_info_block > .info_container > .links > .list > .item:nth-child(4) .icon {
  color: #eeb58f;
}

#videoZone .side_info_block > .info_container > .links > .list > .item a {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  padding: 4px 0 4px 27px;
}

#videoZone .side_info_block > .info_container > .links > .list > .item a:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#videoZone .side_info_block > .info_container > .links > .list > .item:not(:last-child)::after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  border: 1px dashed #866059;
  border-width: 0 0 1px 0;
  width: 90%;
  height: 1px;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  bottom: 0px;
  opacity: .3;
}

#videoZone .side_info_block > .info_container > .links > .list > .item .icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 10px;
}

#videoZone .side_info_block > .info_container > .links > .list > .item .icon i {
  padding: 0 10px 0 0;
}

#videoZone .side_info_block > .info_container > .links > .list > .item .title {
  font-size: 1em;
  letter-spacing: 0;
}

#videoZone .side_info_block > .info_container > .item {
  margin: 0 0 20px;
}

#videoZone .side_info_block > .info_container > .item ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#videoZone .main_content_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0 35px 0 28px;
  max-width: calc(100% - 290px);
}

@media all and (max-width: 1301px) {
  #videoZone .main_content_block {
    max-width: unset;
    padding: 0 0px 0;
  }
}

#videoZone .main_content_block .title_block {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 20px 0 30px;
  font-size: 28px;
  letter-spacing: 3px;
  text-align: left;
}

#videoZone .main_content_block .title_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
}

#videoZone .main_content_block .title_block > .back_btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  border: 1px solid #ccc;
  font-size: 1em;
  padding: 3px 9px;
  border-radius: 4px;
  letter-spacing: 1px;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#videoZone .main_content_block .title_block > .back_btn:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#videoZone .recommend_pager_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media all and (max-width: 580px) {
  #videoZone .recommend_pager_block {
    padding: 0px 0 40px;
  }
}

#videoZone .recommend_pager_block .pager {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 20px auto;
}

@media all and (max-width: 580px) {
  #videoZone .recommend_pager_block .pager {
    padding: 0 15px 0;
  }
}

#videoZone .recommend_pager_block .pager.type_pagination {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

#videoZone .recommend_pager_block .pager.type_pagination > .item {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  width: 100%;
  max-width: 310px;
}

#videoZone .recommend_pager_block .pager.type_pagination > .item:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

@media all and (max-width: 650px) {
  #videoZone .recommend_pager_block .pager.type_pagination > .item {
    max-width: 100%;
  }
}

#videoZone .recommend_pager_block .pager.type_pagination > .item > a {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media all and (max-width: 650px) {
  #videoZone .recommend_pager_block .pager.type_pagination > .item > a {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#videoZone .recommend_pager_block .pager.type_pagination > .item .title_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 5px 10px;
  width: calc(100% - 50px);
  min-width: 270px;
  max-width: 270px;
}

@media all and (max-width: 650px) {
  #videoZone .recommend_pager_block .pager.type_pagination > .item .title_box {
    min-width: unset;
    width: 100%;
    max-width: calc(100% - 40px);
    margin: 5px 0;
  }
}

#videoZone .recommend_pager_block .pager.type_pagination > .item .title_box .subtitle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
}

#videoZone .recommend_pager_block .pager.type_pagination > .item .title_box > .title {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  max-height: 40px;
  width: 100%;
  font-size: 1em;
  color: #222;
}

#videoZone .recommend_pager_block .pager.type_pagination > .item .title_box > .subtitle {
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  color: #408000;
  font-weight: bold;
}

#videoZone .recommend_pager_block .pager.type_pagination > .item .icos {
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  background-color: #f29001;
  padding: 10px 14px;
  border-radius: 4px;
}

#videoZone .recommend_pager_block .pager.type_pagination > .item.pager_next a {
  float: right;
}

#videoZone .recommend_pager_block .pager.type_pagination > .item.pager_next .title,
#videoZone .recommend_pager_block .pager.type_pagination > .item.pager_next .subtitle {
  text-align: right;
}

#videoZone .recommend_pager_block .pager.type_pagination > .item.pager_prev .title,
#videoZone .recommend_pager_block .pager.type_pagination > .item.pager_prev .subtitle {
  text-align: left;
}

#videoZone .recommend_pager_block .pager.type_pagination > .deco {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 14px;
  width: 1px;
  background: #999;
}

@media all and (max-width: 700px) {
  #videoZone .recommend_pager_block .pager.type_pagination > .deco {
    display: none;
  }
}

#videoZone .recommend_pager_block .pager .pager_number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 12px 15px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #dadada;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#videoZone .recommend_pager_block .pager .pager_number:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#videoZone .recommend_pager_block .pager .pager_number.active {
  background-color: #172532;
  color: #fff;
}

#videoZone .recommend_article_block {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  padding: 10px 0;
}

#videoZone .recommend_article_block > .title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  font-size: 20px;
  color: #444;
  font-weight: bold;
  margin: 15px 0;
}

#videoZone .recommend_article_block > .title i {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  padding: 0 8px 0 0;
}

#videoZone .recommend_article_block > .content_list {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  list-style-type: decimal;
  padding: 0 0 0 30px;
}

#videoZone .recommend_article_block > .content_list > .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
  padding: 4px 0;
  color: #000;
  width: 100%;
}

#videoZone .recommend_article_block > .content_list > .item a {
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#videoZone .recommend_article_block > .content_list > .item a:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#videoZone .pager_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 10px 0;
}

@media all and (max-width: 580px) {
  #videoZone .pager_block {
    padding: 0px 0 40px;
  }
}

#videoZone .pager_block .pager {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: auto;
  margin: 20px auto;
  padding: 0 50px 0;
}

@media all and (max-width: 580px) {
  #videoZone .pager_block .pager {
    padding: 0 15px 0;
  }
}

#videoZone .pager_block .pager .pager_number {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  font-size: 1em;
  padding: 12px 15px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #ddd;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
  color: #111;
}

#videoZone .pager_block .pager .pager_number:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

#videoZone .pager_block .pager .pager_number.active {
  background-color: #408000;
  color: #fff;
}

#videoZone .more_block {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 15px 0;
  width: 100%;
  text-align: center;
  border: 1px solid #666;
  font-size: .8em;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  cursor: pointer;
}

#videoZone .more_block:hover {
  opacity: .8;
  -webkit-transition-duration: .1s;
       -o-transition-duration: .1s;
          transition-duration: .1s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hr {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  line-height: 10px;
  width: 100%;
  border-width: 0 0 1px 0;
  border-color: #ccc;
}

.lazy {
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  background-image: url("images/graduate-loading.svg");
  min-height: 100%;
}

.lazied {
  max-height: unset;
  background-image: unset;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.img_box {
  text-align: center;
}

.img_box img {
  max-width: 100%;
  max-height: 100%;
}

.img_box.type_teacher_avatar img {
  width: 100%;
}

.img_box.type_teacher_avatar .dp_mob_1 {
  display: none;
}

.img_box.type_teacher_avatar .dp_mob_2 {
  display: none;
}

@media all and (max-width: 1000px) {
  .img_box.type_teacher_avatar .dp_tab {
    display: none;
  }
  .img_box.type_teacher_avatar .dp_mob_1 {
    display: block;
  }
  .img_box.type_teacher_avatar .dp_mob_2 {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .img_box.type_teacher_avatar .dp_tab {
    display: none;
  }
  .img_box.type_teacher_avatar .dp_mob_1 {
    display: block;
  }
  .img_box.type_teacher_avatar .dp_mob_2 {
    display: none;
  }
}

@media all and (max-width: 521px) {
  .img_box.type_teacher_avatar .dp_tab {
    display: none;
  }
  .img_box.type_teacher_avatar .dp_mob_1 {
    display: none;
  }
  .img_box.type_teacher_avatar .dp_mob_2 {
    display: block;
  }
}

.rev_img {
  display: block;
  width: 100%;
  float: none;
  margin-bottom: 10px;
  text-align: center;
}

.rev_img img {
  display: block;
  float: none;
  max-width: 100%;
  height: auto;
  width: auto;
  margin: 0 auto;
}

.marginer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  width: 100%;
  margin: -80px 0 80px 0;
}

.checker {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.checker:hover {
  opacity: .8;
}

.checker .text {
  width: auto;
  position: relative;
  z-index: 1;
  font-size: .9em;
  line-height: 24px;
}

@media all and (max-width: 500px) {
  .checker .text {
    width: calc(100% - 30px);
  }
}

.checker input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checker input:checked ~ .checkmark {
  background-color: #f19100;
  border-color: transparent;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.checker input:checked ~ .checkmark:after {
  display: block;
}

.checker .checkmark {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 18px;
  width: 19px;
  margin: 0 6px 0 0;
  border-width: 1px;
  border-color: #bbbbbb;
  border-style: solid;
}

.checker .checkmark:after {
  font-family: FontAwesome;
  content: "";
  position: absolute;
  display: none;
  right: 0;
  margin-right: auto;
  left: 0;
  margin-left: auto;
  top: 0px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.checker.type_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: auto;
  padding: 6px 13px;
  margin: 7px 18px 7px 0;
  background-color: #ddd;
  border-radius: 3px;
}

.checker.type_box input:checked ~ .checkbg {
  background-color: #f19100;
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.checker.type_box input:checked ~ .text {
  color: #fff;
  padding: 0 0px 0 10px;
}

.checker.type_box input:checked ~ .checkmark:after {
  display: block;
}

.checker.type_box .text {
  padding: 0 10px;
}

.checker.type_box .checkbg {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 100%;
}

.checker.type_box .checkmark {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
  border: 0px solid transparent;
}

.checker.type_box .checkmark:after {
  top: 0;
  margin-top: auto;
  bottom: 0;
  margin-bottom: auto;
  content: '\f00c';
  position: relative;
  float: left;
  display: none;
  color: #fff;
  font-size: 16px;
  top: 1px;
  width: 10px;
  height: 14px;
  padding: 2px 0;
  border: 0 solid transparent;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.selecter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: 10px 20px 10px 0;
  padding: 6px;
  border: 1px solid #aaa;
  min-height: 32px;
  letter-spacing: 2px;
  color: #333;
  background-color: #fff;
}

.inputer {
  font-family: 'Century Gothic','Arial','Source Sans Pro' , 'Muli' ,'微軟正黑體','FontAwesome', '新細明體';
  -webkit-transition: 0.2s all ease-out;
  -o-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  max-width: 100%;
  padding: 8px 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #888;
  outline: none;
  font-size: .9em;
  letter-spacing: .5px;
}

.inputer::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #919191;
  opacity: 0.9;
  /* Firefox */
}

.inputer:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #919191;
}

.inputer ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #919191;
}

@media all and (max-width: 801px) {
  .inputer {
    margin: 8px auto;
  }
}

.inputer:focus {
  border-color: #f29001;
  -webkit-box-shadow: 0px 0px 10px #f29001;
          box-shadow: 0px 0px 10px #f29001;
}
